# Ignore all .wasm files used for tests
*.wasm

# Ignore everything in the /tests/fixtures directory
/tests/fixtures/*

# But do not ignore /tests/fixtures/code and /tests/fixtures/plugin directories
!/tests/fixtures/_code/
!/tests/fixtures/plugin/
